/* 
    source: https://github.com/aksoftware98/blazor-modal-popup
*/

.blazor-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.blazor-modal-content {
    width: 650px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 6px 4px 38px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 38px -21px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 38px -21px rgba(0,0,0,0.75);
    overflow: hidden;
}

.show {
    display: block;
    animation-name: show-animation;
    animation-duration: 1s;
}

@keyframes show-animation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hide {
    display: none;
}

.blazor-modal-header {
    background-color: purple;
    padding: 15px;
    color: white;
}

.blazor-modal-title {
    margin: 5px;
    display: inline-block;
}

.blazor-modal-close-button {
    float: left;
    margin: 2px;
    cursor: pointer;
}

    .blazor-modal-close-button:hover {
        color: red;
    }

.blazor-modal-body {
    padding: 10px;
}

.blazor-modal-footer {
    background-color: purple;
    padding: 10px;
}
