@page
@model NetLearner.Pages.ResourceLists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Existing List</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceList.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResourceList.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ResourceList.Id">Edit this List</a> |
    <a asp-page="./Index">All Lists</a>|
    <a href="/LearningResources/@Model.ResourceList.Id">Resources in this List</a>
</div>
