@page
@using TagHelperAuthoring.TagHelpers;
@{
    ViewData["Title"] = "Bold Tester";
}

<h2>@ViewData["Title"]</h2>

<p bold>This paragraph uses a P tag with a bold attribute. Using a tag helper, the entire paragraph should be displayed with bold text.</p>

<bold>This statement uses a custom bold tag to be displayed in bold.</bold>