@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NetLearner!</h1>
    <p>Get started by browsing the <a asp-area="" asp-page="/ResourceLists/Index">Resource Lists</a>.</p>
</div>

