@page "/"

<div class="text-center">
    <h1 class="display-4">Welcome to NetLearner!</h1>
    <p>Get started by browsing the     
        <NavLink  href="resourcelists">
            Resource Lists
        </NavLink>
    </p>
</div>



