@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NetLearner!</h1>
    <p>Get started by browsing the <a asp-area="" asp-controller="ResourceLists" asp-action="Index">Resource Lists</a>.</p>
</div>
