@page
@model IndexModel
@{
    ViewData["Title"] = "NetLearner.org Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NetLearner.org</h1>
    
    <img src="~/images/NetLearner-logo.png" />
    <br />
    <p>
        <a href="https://wakeupandcode.com/netlearner-on-asp-net-core-3-1/">Blog Post</a>
        |
        <a href="https://github.com/shahedc/NetLearnerApp">Source Code</a>
    </p>

    <img src="~/images/NetLearner-AspNetCore31-Architecture.png" />
    <br />

</div>
