@page
@model NetLearner.Portal.SecretPageModel
@{
    ViewData["Title"] = "SecretPage";
}

<h1>SecretPage</h1>

<p>
    @Model.Message1
</p>

<p>
    @Model.Message2
</p>

<p>
    @Model.Message3
</p>